 .main {
  width: 416px;
   background-color: #6561615c;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-top: 10px;
    margin-left: 35%;
    /* display: grid; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
  }
  
  .cityname {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ctn {
    color:white;
  }
  
  .tem {
    margin-bottom: 15px;
  }
  
  .temp {
    font-size: 48px;
    font-weight: bold;
    color:whitesmoke;
  }
  
  .stw {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  
  .state {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .wthmood {
    font-size: 24px;
    color:whitesmoke;
  }
  
  .sphs {
    display: flex;
    gap: 30px;
    width: 100%;
  }
  
  span p {
    margin: 0;
  }
  
  span span {
    display: block;
    text-align: center;
  }
  
  span p:first-child {
    font-size: 24px;
  }
  .sphs>span>p{
    margin-left: 33%;
  }
  span p:last-child {
    font-size: 18px;
    color: white;
  }
  
  @media only screen and (max-width: 768px) {
    .main {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding: 15px;
    }
  }